---

import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<Navigation />
		<h1>Astro</h1>
		
		<main>

			<Card header="Hello world">
				<img src="/img1.png" alt="placeholder"/>
				<button>klicka här</button>
			</Card>
			<Card header="Hello world">
				<button>klicka här</button>
				<img src="/img2.png" alt="placeholder2"/>
			</Card>
			
			
			
		</main>
	</body>
</html>
