---
// const header = Astro.props.header;
// const text = Astro.props.text;
// kan skrivas;
const {header} = Astro.props;

---

<article class="card">
    <h2>{header}</h2>
    <p>Kortare lorem ipsum</p>
    <slot />
</article>

<style>
    p{
        color: royalblue;
    }
    .card{
        background-color: aqua;
    }
</style>