---
// const header = Astro.props.header;
// const text = Astro.props.text;
// kan skrivas;
const {header} = Astro.props;

---

<article>
    <h2>{header}</h2>
    <slot />
</article>

<style></style>